p {border: 1rem solid #e0a42b;
  color:#00000066 ;
  
}
 
background: linear-gradient(
  to right,
  #462523 0%,
  #9f7928 5%,
  #cb9b51 10%,
  #fdb931 22%,
  #fedb37 45%,
  #fedb37 50%,
  #fedb37 55%,
  #fdb931 78%,
  #cb9b51 90%,
  #9f7928 95%,
  #462523 100%
);
 
 
 /* p {
  background-color: rgba(0, 0, 0, 0.863);
  background-color: rgba(114, 27, 214, 0.603);
  background-color: #f3f3f3;
  background: #001845;
  background: rgb(1, 22, 56);
  background: rgb(0, 8, 20);
  background: rgb(30, 67, 86, 0.8);
  background: #1e4356;
  background: #446679cc;
  background: rgb(0, 29, 61);
  color: #f3f8fa;
  background-color: #446679cc;
  background-color: #48758d;
  background-color: rgb(0, 16, 46);
  background-color: rgb(6, 11, 35);
  background-color: rgb(5, 9, 29);
  background-color: rgb(35, 31, 32);


  &::before {
    content: "";
    position: absolute;
    display: block;
    height: 0.2rem;
    width: 100%;
    bottom: -0.8rem;
    border-radius: 2rem;
    left: 0;
    right: 0;
    transform: scale(0, 1);
    transition: transform ease-in 250ms;
  }
  &:hover::before {
    transform: scale(1, 1);
  }
  color: #a02f2f;
  color: #353247;
}



import React from "react";
import { ProjectData } from "./projectData";
import { SubHeading } from "../reuseableComponents/headingStyle";

import {
  Container,
  Contents,
  Row,
  Column,
  Card,
  FrontText,
  BackText,
  ButtonG,
  ButtonW,
} from "./projectStyle";

const Projects = () => {
  return (
    <Container id="projects">
      <Contents>
        <SubHeading data-aos="fade-up">Projects</SubHeading>
        <Row>
          <Column>
            {ProjectData.map((project) => (
              <Card key={project.id} data-aos="flip-right">
                <div className="card_side card_side--front">
                  <FrontText>
                    <figure>
                      <img src={project.img} alt="project capture" />
                      <figcaption>
                        <h3>{project.name}</h3>
                      </figcaption>
                    </figure>
                  </FrontText>
                </div>
                <div className="card_side card_side--back">
                  <BackText>
                    <p>{project.comment}</p>
                    <div>
                      <ButtonW
                        href={project.web}
                        target="_blank"
                        rel="noreferrer"
                      >
                        website
                      </ButtonW>
                      <ButtonG
                        href={project.git}
                        target="_blank"
                        rel="noreferrer"
                      >
                        github
                      </ButtonG>
                    </div>
                  </BackText>
                </div>
              </Card>
            ))}
          </Column>
        </Row>
      </Contents>
    </Container>
  );
};

export default Projects; 



import styled from "styled-components";
export const Container = styled.section`
  width: 100%;
  overflow: hidden;
  background-color: rgb(6, 11, 35);
  background-color: #1c1c1c;
  position: relative;
`;

export const Contents = styled.div`
  max-width: 120rem;
  width: 90%;
  margin: 10rem auto;

  @media (max-width: ${({ theme }) => theme.media.mobile}) {
    width: 95%;
    margin: 6rem auto;
  }
`;

export const Row = styled.div`
  margin-top: 4rem;
  width: 100%;
`;
export const Column = styled.div`
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
`;
export const Card = styled.div`
  perspective: 150rem; 
  -moz-perspective: 150rem;
  /* position: relative;  */
  height: 35rem;
  width: 32.5%;
  margin: 0 auto 1.3rem auto;

  @media (max-width: ${({ theme }) => theme.media.tablet}) {
    width: 49%;
  }

  @media (max-width: 650px) {
    width: 70%;
  }
  @media (max-width: 450px) {
    width: 95%;
  }

  .card_side {
    height: 35rem;
    width: 100%;
    transition: all 0.8s ease;
    position: absolute;
    top: 0;
    left: 0;
    backface-visibility: hidden;
    border-radius: 0.5rem;
    overflow: hidden;

    &--front {
      background-color: #fff;
    }
    &--back {
      background-color: #fff;
      transform: rotateY(180deg);
      position: relative;
    }
  }

  &:hover .card_side--front {
    transform: rotateY(-180deg);
  }

  &:hover .card_side--back {
    transform: rotateY(0);
  }
`;

export const FrontText = styled.div`
  margin: 0 auto;
  text-align: center;

  figure {
    display: block;
    height: 35rem;
    position: relative;
  }

  img {
    filter: brightness(120%) contrast(105%);
    width: 100%;
    height: 75%;
    box-shadow: 0 1.2rem 1.9rem #000;
  }

  figcaption {
    position: absolute;
    bottom: 0;
    left: 0;
    background: linear-gradient(
      to top,
      rgba(0, 0, 0, 0.3) 83.12%,
      rgba(52, 168, 83, 0) 0.77%
    );
    height: 30%;
    width: 100%;
  }

  h3 {
    font-size: 2.5rem;
    margin: 4rem 0 0 0;
    font-weight: 700;
    color: #fff;
    z-index: 100;
  }
`;
export const BackText = styled.div`
  color: #444;
  padding: 3rem 1.5rem;
  font-size: 1.5rem;

  @media (max-width: 300px) {
    padding: 1.5rem 1.5rem;
  }

  p {
    line-height: 1.5;
  }

  div {
    display: flex;
    justify-content: space-between;
  }
`;

export const ButtonW = styled.a`
  padding: 1.5rem 3rem;
  font-size: 1.5rem;
  font-weight: 700;
  display: inline-block;
  text-align: center;
  text-transform: uppercase;
  margin-top: 4rem;
  background-color: #f3f3f3;
  color: rgba(30, 67, 86);
  transition: all 0.7s;

  @media (max-width: 300px) {
    margin-top: 2rem;
    padding: 1.5rem 2.5rem;
  }

  &:hover {
    box-shadow: 13rem 0 0 0 rgba(30, 67, 86) inset;
    color: #fff;
  }
`;
export const ButtonG = styled(ButtonW)`
  background-color: rgba(30, 67, 86);
  color: #fff;

  &:hover {
    box-shadow: 13rem 0 0 0 #f3f3f3 inset;
    color: rgba(30, 67, 86);
  }
`;
  */
