p {
  background-color: rgba(0, 0, 0, 0.863);
  background-color: rgba(114, 27, 214, 0.603);
  background-color: #f3f3f3;
  background: #001845;
  background: rgb(1, 22, 56);
  background: rgb(0, 8, 20);
  background: rgb(30, 67, 86, 0.8);
  background: #1e4356;
  background: #446679cc;
  background: rgb(0, 29, 61);
  color: #f3f8fa;
  background-color: #446679cc;
  background-color: #48758d;
  background-color: rgb(0, 16, 46);
  background-color: rgb(6, 11, 35);
  background-color: rgb(5, 9, 29);
  background-color: rgb(35, 31, 32);

  &::before {
    content: "";
    position: absolute;
    display: block;
    height: 0.2rem;
    width: 100%;
    bottom: -0.8rem;
    border-radius: 2rem;
    left: 0;
    right: 0;
    transform: scale(0, 1);
    transition: transform ease-in 250ms;
  }
  &:hover::before {
    transform: scale(1, 1);
  }
  color: #a02f2f;
  color: #353247;
}
